body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #302a6d;
    background-repeat: repeat-x; /* Repetir a imagem horizontalmente */
}


header {
    padding: 150px 0;
    background-color: #000000;
}

header {
    padding: 150px 0; /* Ajuste o valor do padding para controlar o espaçamento superior */
    background-color: #000000; /* Cor de fundo opcional */
}

h1 {
    font-size: 36px;
    margin-bottom: 30px; /* Adicione margem inferior ao título */
    color: #ffffff;
}

h2 {
    font-size: 24px;
    margin-bottom: 50px; /* Adicione margem inferior ao subtítulo */
    color: #ffffff; /* Cor opcional para o subtítulo */
}

.rectangles {
    display: flex;
    justify-content: center;
}

.rectangle {
    margin: 50px;
    padding: 27px 59px;
    background-color: #363074;
    color: #ffffff;
    text-decoration: none;
    border-radius: 7px;
    font-size: 20px; /* Ajuste o tamanho do texto conforme necessário */
}

/* Se quiser ajustar o tamanho do texto ao passar o mouse também, pode adicionar o seguinte: */
.rectangle:hover {
    font-size: 20px; /* Ajuste o tamanho do texto ao passar o mouse conforme necessário */
}


/* ... Outras regras CSS ... */

.footer {
    background-color: #524094; /* Cor de fundo da seção roxa */
    padding: 20px; /* Adicione preenchimento à seção roxa, se necessário */
    text-align: center; /* Centralize o texto */
}

.contacts-title {
    font-size: 29px;
    color: #ffffff;
    margin: 0; /* Remova qualquer margem que pode ser aplicada automaticamente */
}

/* ... Outras regras CSS ... */

/* Reset de estilos */

/* ... Outras regras CSS ... */

.contact-icons img {
    margin-top: 40px;
    width: 50px; /* Defina a largura desejada para os ícones */
    height: 50px; /* Defina a altura desejada para os ícones */
}

/* ... Outras regras CSS ... */

.horizontal-line {
    width: 100%;
    height: 2px; /* Ajuste a altura da linha conforme necessário */
    background-color: white;
    margin-top: 5px; /* Ajuste a distância da linha em relação ao título */
}

#logo {
    position: relative;
    width: 1850px; /* Ajuste a largura desejada da imagem original */
    height: auto; /* Mantenha a proporção original da imagem */
    margin-top: -200px; /* Adicione margem superior para separar a imagem do título */
}

#middleImage {
    position: fixed;
    top: 48%;
    left: 1%;
    transform: translateY(-50%);
    width: 298px; /* Ajuste a largura desejada */
    height: auto; /* Mantenha a proporção original da imagem */
}

#right {
    position: fixed;
    top: 48%;
    right: 1%;
    transform: translateY(-50%);
    width: 298px; /* Ajuste a largura desejada */
    height: auto; /* Mantenha a proporção original da imagem */
}